<div class="title-container">
    <h2 class="title">Registro de un pago de servicio</h2>
  </div>
  <div class="title-container">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field class="example-full-width"  *ngIf="edicion" >
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="codigo" formControlName="codigo" />      
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Código de servicio</mat-label>
        <mat-select formControlName="codigoservicio">
          <mat-option *ngFor="let c of listaServicio" [value]="c.idServicio">
            {{ c.cliente.nombreCliente}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('cliente')?.hasError('required')"
          >El registro del servicio es obligatorio.</mat-error
        >
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Método de Pago</mat-label>
        <mat-select formControlName="tiposervicio">
          <mat-option *ngFor="let g of metodopago" [value]="g.value">
            {{ g.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tiposervicio')?.hasError('required')"
          >El metodo de pagó es obligatorio.</mat-error
        >
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Fecha de programación de cobro</mat-label>
        <input
          matInput
          placeholder="Ingrese fecha"
          [matDatepicker]="picker"
          formControlName="fechapago"
          [max]="maxFecha"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fecha')?.hasError('required')"
          >La fecha es obligatoria.</mat-error
        >
      </mat-form-field>
      <br />
    
    <br />
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/servicio"><mat-icon> cancel_presentation</mat-icon>
      </button>
    </form>
  </div>


