<div class="title-container">
    <h2 class="title">Registro de servicio</h2>
</div>

<div class="main-container">
    <div class="form-container">
        <form [formGroup]="form" (submit)="aceptar()" enctype="multipart/form-data" class="example-form">

            <!-- Código (Solo si está en edición) -->
            <div class="form-group" *ngIf="edicion">
                <mat-form-field class="example-full-width">
                    <mat-label>Código</mat-label>
                    <input matInput placeholder="Ingrese código" formControlName="codigo" readonly="edicion" />
                </mat-form-field>
            </div>

            <!-- Cliente -->
            <div class="form-group">
                <div class="ajustar-boton">
                    <mat-form-field class="example-full-width">
                        <mat-label>Cliente</mat-label>
                        <input 
                          type="text"
                          placeholder="Seleccione un cliente"
                          aria-label="Cliente"
                          matInput
                          formControlName="cliente"
                          [matAutocomplete]="auto"
                          [readonly]="edicion"
                        />
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let c of clientesFiltrados" [value]="c.nombreCliente" (onSelectionChange)="clienteSeleccionado(c.idClientes)" readonly="edicion">
                            {{ c.nombreCliente }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="form.get('cliente')?.hasError('required')">
                            El registro del cliente es obligatorio.
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="redirigirRegistroCliente()">
                        Registrar nuevo cliente
                    </button>
                </div>
            </div>

            <!-- Tipo de Servicio -->
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de servicio</mat-label>
                    <mat-select formControlName="tiposervicio">
                        <mat-option *ngFor="let g of tiposervicio" [value]="g.value" [disabled]="edicion">
                        {{ g.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('tiposervicio')?.hasError('required')">
                        El tipo de servicio es obligatorio.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Fechas -->
            <div class="form-group-group">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Fecha de programación de envío</mat-label>
                        <input
                            matInput
                            placeholder="Ingrese fecha"
                            [matDatepicker]="pickerEnvio"
                            formControlName="fechaenvio"
                            [min]="maxFecha"
                            readonly="edicion"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerEnvio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnvio></mat-datepicker>
                        <mat-error *ngIf="form.get('fechaenvio')?.hasError('required')">
                            La fecha es obligatoria.
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Fecha de recojo de envío</mat-label>
                        <input
                            matInput
                            placeholder="Ingrese fecha"
                            [matDatepicker]="pickerRecojo"
                            formControlName="fecharecojo"
                            [min]="maxFecha"
                            readonly="edicion"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerRecojo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerRecojo></mat-datepicker>
                        <mat-error *ngIf="form.get('fecharecojo')?.hasError('required')">
                            La fecha es obligatoria.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- Botones -->
            <div class="button-group">
                <button mat-raised-button color="primary" *ngIf="!edicion" (click)="obtenerUltimoIdServicio()">Aceptar</button>
                <button mat-raised-button color="primary" *ngIf="edicion">Aceptar</button>
                <button mat-raised-button color="warn" routerLink="/servicio">
                    <mat-icon>cancel_presentation</mat-icon>
                </button>
            </div>

        </form>
    </div>

    <div class="mueble-container">
        <!-- Botón para agregar mueble con routerLink -->
        <button mat-raised-button color="accent" (click)="nuevoMueble = !nuevoMueble">
            <mat-icon>add</mat-icon>
            Agregar Mueble
        </button>

        <app-registrarmueble *ngIf="nuevoMueble"></app-registrarmueble>



        <!-- Componente para listar muebles (Siempre visible) -->
        <div class="list-mueblecontainer">
            <app-listarmueble></app-listarmueble>
        </div>
    </div>
</div>