<div class="title-container">
    <h2 class="title">Lista de Muebles</h2>
</div>

<div class="table-container">
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.idMueble }}</td>
        </ng-container>

        

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción Mueble</th>
            <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="etapa">
            <th mat-header-cell *matHeaderCellDef>Etapa de Lavado</th>
            <td mat-cell *matCellDef="let element">{{ element.etapaLavado }}</td>
        </ng-container>

        <ng-container matColumnDef="fechasecado">
            <th mat-header-cell *matHeaderCellDef>Fecha programada de secado</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaSecado }}</td>
        </ng-container>

        <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="onEditMueble(element.idMueble)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="eliminar(element.idMueble)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

<ng-container *ngIf="editMuebleId !== 0">
    <app-registrarmueble *ngIf="forceRender" [muebleId]="editMuebleId" [key]="muebleKey"></app-registrarmueble>
</ng-container>