<div class="title-container">
    <h2 class="title">Registro de cliente</h2>
</div>
<div class="form-container">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <div class="form-group" *ngIf="edicion">
            <mat-form-field class="example-full-width">
                <mat-label>Codigo</mat-label>
                <input matInput placeholder="Ingrese código" formControlName="codigo" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Ingrese nombres" formControlName="nombre" />
                <mat-error *ngIf="form.get('nombre')?.hasError('required')">
                    El nombre del cliente es obligatorio
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Ingrese apellidos" formControlName="apellido" />
                <mat-error *ngIf="form.get('apellido')?.hasError('required')">
                    El apellido del cliente es obligatorio
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Número de celular</mat-label>
                <input matInput placeholder="Ingrese número de celular" formControlName="numero" />
                <mat-error *ngIf="form.get('numero')?.hasError('required')">
                    El número de celular del cliente es obligatorio
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>DNI</mat-label>
                <input matInput placeholder="Ingrese DNI" formControlName="dni" />
                <mat-error *ngIf="form.get('dni')?.hasError('required')">
                    El DNI del cliente es obligatorio
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Ingrese dirección" formControlName="direccion" />
                <mat-error *ngIf="form.get('direccion')?.hasError('required')">
                    La dirección del cliente es obligatoria
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-group">
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/cliente">
                <mat-icon>cancel_presentation</mat-icon>
            </button>
        </div>
    </form>
</div>

